
body{
  font-family: 'Roboto Condensed', sans-serif;
}
h1{
  font-size: 35px;
  text-shadow: darkorange;
  
}

h2{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
  
  
}

img{
	width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border: 1em solid #FFF;
  box-shadow: 0 0 0.25em 0 rgba(50, 50, 50, 0.2);
}

  p{
    margin-top: 1em;
    font-size: 15px;
    color: rgb(29, 21, 21);
  }

  

